body{
    background-color: rgb(15, 107, 150);
}
.sign{
    background: #fff;
    text-align: center;
    border-style: solid;
    border-radius: 35px;
    margin:15% 35% 15% 35%;
}

.box1{
    padding: 0 0 2% 0;
    
}
.con-password{
    padding: 2% 0 3% 0;
}
.but1 button{
    border-radius: 20px;
    background-color: rgb(174, 136, 171);
    color:rgb(8, 8, 9);
}
.but2 button{
    border-radius: 20px;
    background-color: rgb(174, 136, 171);
    color:rgb(8, 8, 9);
}
@media only screen and (max-width: 600px) {
    .sign {
        margin:5% 5%;
    }
    
    .but1 button, .but2 button {
        display: block;
        width: 35%;
        margin-left: 35%; /* Make buttons full width */
    }
}